<a href="https://colab.research.google.com/github/pavleen62/functions/blob/main/data_structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types and Structures Questions

Q1. What are data structures, and why are they important?

Ans. Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built. Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages.

Q2. Explain the difference between mutable and immutable data types with examples?

Ans. 2. Mutable Data Types (Can be Changed) Mutable objects can be modified after creation. Changes occur in place, meaning the object’s memory address remains the same. Examples of Mutable Data Types: Lists Dictionaries Set 2. Immutable Data Types (Cannot be Changed) Immutable objects cannot be modified after creation. Any change creates a new object instead of modifying the existing one.
Examples of Immutable Data Types: Tuples Strings Integers Floats Booleans


Q3. What are the main differences between lists and tuples in Python?

Ans. List : You can store anything in list. List can store heterogenous data List is an ordered collection of elements that can be of any data type List are mutable. List = [] X = [1, 2, 3, 4]

Tuples: Tuples are immutable Tuples can store heterogenous data Tuples = () X = (1, 2, 3, 4)


Q4. Describe how dictionaries store data?

Ans. Dictionary: Which store the data in the form of key value pair Dictionary = {}


Q5. Why might you use a set instead of a list in Python?

Ans. A set in Python has unique advantages over a list in certain use cases. Below are the key reasons why you might prefer a set over a list:

1. Sets Automatically Remove Duplicates
2. faster Membership Checking (O(1) vs O(n))
3.Sets Support Mathematical Operations (Union, Intersection, Difference)
4. sets Are Unordered & Do Not Allow Indexing
Q6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is a sequence of characters enclosed in single (' '), double (" "), or triple (""/""" """) quotes. it is an immutable data type , meaning its contents cannot be changed after creation
1.Mutability: Strings are Immutable, Lists are Mutable
2.Strings Contain Only Characters, Lists Can Contain Multiple Data Types
3.Slicing Works Similarly for Both


Q7. How do tuples ensure data integrity in Python?

Ans. Tuples in Python ensure data integrity because they are immutable, meaning their contents cannot be changed once created. This prevents accidental modifications and ensures that the data remains consistent and reliable.


Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table (also called a hash map) is a data structure that stores key-value pairs and provides fast lookups, insertions, and deletions by using a hashing function.



Q9. Can lists contain different data types in Python?

Ans. Yes! In Python, lists are heterogeneous, meaning they can store different data types in a single list.



Q10. Explain why strings are immutable in Python?

Ans. In Python, strings are immutable, meaning once created, they cannot be modified. It is Efficient memory management.


Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Use dictionaries when quick lookups, key-value pairs, and uniqueness matter. Use lists when order, duplicates, and sequential access are important.


Q12. Describe a scenario where using a tuple would be preferable over a list?

Ans. Use tuples when you need fixed, unchangeable, and efficient data storage. Use lists when data needs modification.


Q13. How do sets handle duplicate values in Python?

Ans. Sets in Python are unordered collections of unique elements. They automatically remove duplicate values when created or modified.



Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The "in" keyword is used to check membership in both lists and dictionaries, but it behaves differently for each. Lists: "in" checks if a value is present anywhere in the list (slower for large lists). Dictionaries: "in" checks only keys, making it much faster due to hashing. To check dictionary values, use .values().


Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The "in" keyword is used to check membership in both lists and dictionaries, but it behaves differently for each. Lists: "in" checks if a value is present anywhere in the list (slower for large lists). Dictionaries: "in" checks only keys, making it much faster due to hashing. To check dictionary values, use .values().



Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, tuples are immutable, meaning their elements cannot be changed, added, or removed after creation.


Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary inside another dictionary. It allows hierarchical storage of data, where each key in the outer dictionary points to another dictionary as its value.


Q17. Describe the time complexity of accessing elements in a dictionary.

Ans. In Python, dictionaries are implemented using hash tables, which provide average O(1) time complexity for lookups.



Q18. In what situations are lists preferred over dictionaries?

Ans. Lists and dictionaries both store data in Python, but lists are preferred in certain situations due to their ordered structure and index-based access


Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries in Python are considered unordered because the order of key-value pairs is not guaranteed to be preserved. This is due to how dictionaries are implemented using a hash table. When you add items to a dictionary, Python computes the hash value of the key and stores the pair in an arbitrary location in memory.

Impact on Data Retrieval: a) Data retrieval by key: The order of the items does not affect the efficiency of accessing elements by key. Dictionary lookups are O(1) on average, meaning you can retrieve values quickly using keys, regardless of their order in the dictionary. b) Iteration: If you iterate over the dictionary, the order of the items may not be the same as the order they were inserted. This can be significant when the order is important


Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. List: Have a linear-time complexity ((O(n))) for searching, which can be slow for large datasets. Elements are accessed using indices, which are integers starting from 0. Good for ordered collections, like sequences of user actions.

Dictionaries: Have an average-case constant time complexity ((O(1))) for searching, making them faster for lookups. Elements are accessed using keys, which can be of any data type. Good for quick lookups, like mapping usernames to user data.

In [ ]:
##Q1. Write a code to create a string with your name and print it.

In [1]:
my_name = "pavleen kaur"
print(my_name)

pavleen kaur

In [ ]:
##Q2. Write a code to find the length of the string "Hello World".

In [2]:
string1 = "Hello World"
len(string1)

11

In [ ]:
##Q3 Write a code to slice the first 3 characters from the string "Python Programmi

In [3]:
text1 = "Python Programming"
slice_text = text1[: 3]
print(slice_text)

Pyt

In [ ]:
##Q4. Write a code to convert the string "hello" to uppercase.

In [4]:
string1 = "hello"
string1.upper()

'HELLO'

In [ ]:

##Q5. P Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
string1 = "I like apple"
string1.replace("apple", "orange")

'I like orange'

In [ ]:
##Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:

##Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:

##Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
list1 = [1, 2, 3, 4, 5]
list1.pop(2)
print(list1)

[1, 2, 4, 5]

In [ ]:

##Q9. P Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [ ]:

##Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
##Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
a = 100, 200, 300
tuple1 = tuple(a)
print(tuple1)

(100, 200, 300)

In [ ]:
##Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue' , 'yellow')

In [12]:
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [ ]:
##Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
tuple1 = (10, 20, 5, 15)
min(tuple1)

5

In [ ]:
##Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
tuple1 = ('dog', 'cat', 'rabbit')
tuple1.index('cat')

1

In [ ]:

##Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
basket = ('Apple', 'Banana', 'Lichi')
'kiwi' in basket

False

In [ ]:

##Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
a ='a', 'b', 'c'
set1 = set(a)
print(set1)

{'a', 'b', 'c'}

In [ ]:
##Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
##Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
##Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5}

In [ ]:

##Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
new_set = set1.intersection(set2)
print(new_set)

{2, 3}

In [ ]:

##Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
dict1 = {"name" : "pavleen", "age" : 19, "city" : "agra"}
print(dict1)

{'name': 'pavleen', 'age': 19, 'city': 'agra'}

In [ ]:

##Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
##Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [25]:
##Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict1["age"]
dict1

{'name': 'Bob', 'city': 'New York'}

In [26]:
##Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

In [27]:

##Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a = 1, 2, 3, 4, 5
tuple1 = tuple(a)
list1 = list(a)
dict1 = {"name":"babul" ,"age": 21}
print(tuple1)
print(list1)
print(dict1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
{'name': 'babul', 'age': 21}

In [28]:

##Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1 = list(random.randint(1,100) for _ in range(5))
list1.sort()
print(list1)

[21, 33, 77, 78, 93]

In [29]:

##Q28. Write a code to create a list with strings and print the element at the third index.
a = "apple", "babul", "game", "nitro", "pw"
list1 = list(a)
print(list1)
list1[2]

['apple', 'babul', 'game', 'nitro', 'pw']

'game'

In [30]:

##Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a" : 1, "b" : 2}
dict2 = {"c" : 3, "d" : 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
##Q30. Write a code to convert a list of strings into a set.
a = "a", "b", "c"
list1 = list(a)
set1 = set(list1)
print (set1)

{'a', 'b', 'c'}